<!DOCTYPE html>
<html lang="en">
  {% extends 'movie_app/base.html' %}

  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'movie_app/css/list.css' %}"
    />
  </head>
  <body>
    {% block content %}

    <div class="container-form">
      <h1>Add Movie</h1>
      <form method="post" enctype="multipart/form-data" class="add-movie-form">
        {% csrf_token %}
        <table class="form-table">
          <tr>
            <td><label for="id_title">Title:</label></td>
            <td>{{ form.movie_title }}</td>
          </tr>
          <tr>
            <td><label for="id_genre">Genre:</label></td>
            <td>{{ form.genre }}</td>
          </tr>
          <tr>
            <td><label for="release_date">Release_date:</label></td>
            <td>{{ form.release_date }}</td>
          </tr>
          <tr>
            <td><label for="id_actor">Actor:</label></td>
            <td>{{ form.actor }}</td>
          </tr>

          <tr>
            <td><label for="year">Year:</label></td>
            <td>{{ form.year }}</td>
          </tr>

          <tr>
            <td><label for="id_poster">Poster:</label></td>
            <td>{{ form.poster }}</td>
          </tr>
          <tr>
            <td>
              <button class="submit-btn" type="submit">Submit</button>
            </td>
          </tr>
        </table>
      </form>
    </div>

    {%endblock%}
  </body>
</html>
