<!DOCTYPE html>
<html lang="en">
  {% extends 'movie_app/base.html' %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <h1>Are you sure you want to delete "{{ movie.movie_title }}"?</h1>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Yes, delete</button>
      <a href="{% url 'list_movie' %}">No, go back</a>
    </form>
    {%endblock%}
  </body>
</html>
